.btn-submit {
  border: 3px solid rgb(39, 18, 230);
  color: rgb(241, 241, 247);
  background-color: rgb(67, 56, 131);
  padding: 13px 44px;
  font-size: 15px;
  margin: 8px 0 0;
}

.btn-submit:hover {
  border: 3px solid rgb(5, 7, 7);
  background: rgb(46, 174, 190);
  color: #0a0a0a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contact-option-f {
  padding: 45px 64px;
}
.contact-optionf .form-control {
  border-color: transparent;
}

.icons {
  padding: 10px;
  color: #000;
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .contact-option {
    border: 0;
    padding: 20px 15px;
  }

  .contact-center {
    display: none;
  }
}
