.page {
  background: none;
  margin: 0 auto;
}
.abName {
  text-align: center;
}
img {
  padding: 10px 20px;
}

.page section {
  display: grid;
  grid-row: auto;
  margin: 2rem 0;
}

.page article {
  display: flex;
  flex-direction: row;
}
